/* custom template */
html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
}

.nav {
   font-family:Arial,sans-serif;
   font-size:13px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

/* .column .padding {
    padding: 20px;
} */

/* .full{
	padding-top:70px;
} */

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#444444;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top:32px;
}

.navbar-blue {
    border-width:0;
  	background-color:#3B5999;
    color:#ffffff;
    font-family:arial,sans-serif;
    /* top:0;
    position:fixed; */
    width: 1140px;
    margin: 0px auto;
}

.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
}

.navbar-blue .dropdown-menu li a {color:#2A4888;}
.navbar-blue .dropdown-menu li > a {padding-left:30px;}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#2A4888;
   color:#fff;
}

/* First Page */
#main {
   background-color:#e9eaed;
   padding-left:0;
   padding-right:0;
}
.addPost {
  padding-bottom: 50px
}
.userPost .panel-default .panel-thumbnail, .brandPost .panel-default .panel-thumbnail {
  width: 300px;
  margin: 10px auto;
}
.brandPost .voteMe {
  position: relative;
  bottom: 10px;
  left: 78px;
}
.brandPost .offer {
  position: relative;
  bottom: 305px;
  right: 42px;
  color: black;
  background: sandybrown;
  border: 1px solid #123;
  padding: 10px 5px;
  border-radius: 50%;
}
.brandPost .wishlist, .brandPost .shopping-cart {
  position: relative;
  top: 10px;
  left: 100px;
}
.brandPost .price {
  position: relative;
  right: 165px;
  color: #123123;
  background-color: white;
  padding: 2px;  
}
.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#3B5999;
  height:28px;
  width:28px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#footer {
  margin-bottom:20px;
}

/* Second Page */ 
.profilePic {
  background: url("../../assets/img/bg_4.jpg");
  min-height: 400px;
}
.profilePic img {
  position: relative;
  top: 230px;
  left: 35px;
  width: 150px;
}
.dolaby {
  width: 740px;
  height: 555px;
  margin: 25px auto;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}

.post{
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-blue {
	background-color:#3B5999;
    top:0;
    width:100%;
    position:relative;
  }

}
/* css */
#imgclass {
  margin-left: 5px;
  position: relative;
  width: 400px;
  max-width: 400px;
}

#imgclass #im {
 
  width: 1000px;
  height: 500px;
}

#imgclass #bttn {
  position: absolute;
  top: 50%;
  right: -235px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:orange;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


